.header
{
    color:orange;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}

body{
   background-color: aquamarine;
}

html, body
{
  height: 100%;
  margin: 0;
}

.header img
{
	width: 90px;margin-left: -15px;
}

